<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of schoolsList">
      <td>{{ item.ID }}</td>
      <td>{{ item.Name }}</td>
      <td>{{ item.Location }}</td>
      <td>{{ item.Rating }}</td>
      <!-- <td>...more</td> -->
      <!-- http://localhost:4200/schooldetails/School-1 -->
      <!-- <td><a
                 [routerLink]="['/schooldetails',item.ID]"
                 style="color:blue ; cursor:pointer">
                 ...More</a></td> -->
      <!-- <td>
        <a
          [routerLink]="['/schooldetails']"
          [queryParams]="{ SID: item.ID }"
          style="color: blue; cursor: pointer"
        >
          ...More</a
        >
      </td> -->
      <!-- http://localhost:4200/schooldetails?SID=School-1 -->

      <!-- <td>
        <a
          [routerLink]="['/schooldetails']"
          [fragment]="item.ID"
          style="color: blue; cursor: pointer"
        >
          ...More</a
        >
      </td> -->
      <!-- http://localhost:4200/schooldetails#School-2 -->

      <!-- https://github.com/madanpatakota?tab=repositories -->

      <!-- <td><a
                  (click)="evtNavigation(item.ID)"
                  style="color:blue ; cursor:pointer">
                  ...More</a></td> -->

      <!-- path : 'schooldetails/:Name' , component : SchoolDetailsComponent -->
      <!-- locahlost:4200/schooldetils -->
      <!-- /schooldetails is the absoultepath -->

      <td>
        <a
          (click)="evtNavigation(item.ID)"
          style="color: blue; cursor: pointer"
        >
          Edit</a
        >
        |
        <a
          (click)="evtHistoryNavigation(item.ID)"
          style="color: green; cursor: pointer"
        >
          More</a
        >
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="evtUpdateUserEmail()">
  Update user email
</button>
|
<button class="btn btn-primary" (click)="evtUpdateUserEmailtoAdmin()">
  Update user email to admin
</button>

<!-- schoolhistory -->
<router-outlet></router-outlet>
