



<div class="card" style="margin-top:20px">
  <div class="card-body">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <h5 class="card-title">{{school.SchoolID}}</h5>
    <p class="card-text">School Pricinicple name is <strong> {{school.PrinicipleName}} </strong>
      and students are in the School is <strong> {{school.studentsCount}} </strong> and it was established in {{school.EstablishDate}}</p>
    
  </div>
</div>
<!-- <img src="../../Images/school2.png" alt="School Image"> -->
<!-- 
SchoolID: 'School-1',
PrinicipleName: 'NarayanaMoorthy',
studentsCount: 200,
EstablishDate: 1990,
CityName : 'Bangolore',
StateName : 'Karnataka',
isGood : true -->